<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="../../vendor/autoload.php"
>
    <testsuites>
        <testsuite name="inakiabt/etsy test suite">
            <directory>./Etsy/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../Etsy</directory>
        </whitelist>
    </filter>
</phpunit>
